body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 100px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
}

form {
    max-width: 300px;
    margin: 20px auto;
    background-color: #eceada;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #070707;
    color: #fff;
    font-family: Arial, sans-serif;
    border: none;
    font-size: larger;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
}

p {
    text-align: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: larger;
}